.currentPicColor{
  background-color: #fff;
}




@mixin display-flex ($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin a-tag ($text-color) {
  text-decoration: none;
  color: $text-color
}

